<form class="form__sign">

    <label for="name" class="sign__label">Nome</label>
    <input type="text" name="name" class="sign__input" id="name">

    <label for="birth" class="sign__label">Data de nasacimento</label>
    <input type="date" name="birth" class="sign__input" id="birth">

    <label for="email" class="sign__label">Email</label>
    <input type="email" name="email" class="sign__input" id="email">

    <label for="password" class="sign__label">Senha</label>
    <input type="password" name="password" class="sign__input" id="password">

    <label for="confirm__password" class="sign__label">Confirme sua senha</label>
    <input type="password" name="confirm__password" class="sign__input" id="confirm__password">

    <button type="submit" class="btn__sign">Registre-se</button>

</form>