:host {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--primary-color);
}

.form__sign {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign__label {
    position: relative;
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: .5em;
}

.sign__input {
    width: 40%;
    border-style: none;
    outline: none;
    background-color: var(--dark-color);
    border-bottom: 1px solid var(--primary-color);
    padding: .5em;
    font-size: 1.1em;
    color: var(--primary-color);
    margin-bottom: 1.5em;
}

.btn__sign {
    width: 40%;
    height: 2em;
    margin-top: 1em;
    background-color: var(--primary-color);
    color: var(--dark-color);
    border-style: none;
    font-size: 1.2em;
}

.btn__sign:hover {
    cursor: pointer;
    background-color: var(--second-color);
}